body {
  font-family: Georgia, serif;
  margin: 2em;
  line-height: 1.6;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
}

a {
  color: #0000ee;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 0.5em;
}
